/* nav bar animation */
 @keyframes anime{
0%{
  background-position: 100% 100%;
}
 100%{
   background-position: 100% 0%;
   
} 
 } 
 body{
   background:linear-gradient(to right,#205072,#138086,#534666) ;

 }
